networks:
  app-net:
    driver: bridge

volumes:
  pg_data:
  redis_data:
  kafka_data:

services:
  # =====================
  # Kafka Brocker
  # =====================
  # kafka:
  #   image: bitnami/kafka:3.7.0
  #   container_name: kafka
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     KAFKA_CFG_NODE_ID: 1
  #     KAFKA_CFG_PROCESS_ROLES: controller,broker
  #     KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
  #     KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
  #     KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
  #     KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
  #     KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
  #     KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT
  #     KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
  #   networks:
  #     - app-net
  #   volumes:
  #     - kafka_data:/bitnami/kafka
  #   restart: unless-stopped

  # =====================
  # Redis
  # =====================
  redis:
    image: redis:7.2-alpine
    container_name: redis
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--maxmemory",
        "256mb",
        "--maxmemory-policy",
        "allkeys-lru",
      ]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-net
    restart: unless-stopped

  # =====================
  # PostgreSQL
  # =====================
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-net
    restart: unless-stopped

  # =====================
  # Application
  # =====================
  app:
    build:
      context: .
      dockerfile: Dockerfile
    
    container_name: app
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      # kafka:
      #   condition: service_started
    ports:
      - "${APP_PORT}:8000"
    networks:
      - app-net
    restart: unless-stopped
